*{
font-family: helvatica : ;
}
input#boton{
padding: 5px 50px;
color: white; 
font-size:1em;
background-color:#0C0;
-webkit- transition: background-color .25s;
border:0px;
-webkit-border-radius:5px;
-webkit-box-shadow:#000;	

}

input#boton:hover{
	background-color:#000;
}
#form-login h3 #bot label {
	color: #FFF;
}
.usuario {
	color: #FFF;
}
#form-login h2 p {
	color: #FFF;
}
.encabezado {
	color: #FFF;
}
.error {
	color: #FFF;
}
.error1 {
	color: #FFF;
}
.error1 {
	color: #FFF;
}

